.tr {
    transition: all 0.4s ease-in-out;
}
.b-about {
    height: 88vh;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.photo-container {
    width: 35%;
    display: flex;
    align-items: center;
}
.text-container {
    width: 65%;
    padding: 40px;
    color: var(--color);
    font-size: 17px;
}
.text-container p {
    font-family: 'Times New Roman', Times, serif;
    color: var(--color);
    font-size: 19px;
    line-height: 1.2em;
}
@media (max-width: 992px) {
    .photo-container {
        width: 30%;
    }
    .text-container {
        padding: 10px 40px 10px 0px;
        width: 70%;
    }
}
@media (max-width: 768px) {
    .b-about {
        display: block;
    }
    .photo-container {
        margin-top: 2em;
        float: right;
    }
    .text-container {
        width: 100%;
        padding: 35px 10px;
    }
}
@media (max-width: 575px) {
    .photo-container {
        display: none;
    }
    .text-container {
        width: 100%;
        padding: 60px 10px;
    }
}