.tr {
    transition: all 0.4s ease-in-out;
}
.b-profile {
    width: 100%;
    height: 88vh;
    padding: 0 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.profile-left {
    width: 35%;
    padding: 5px; margin-top: -40px;
    padding-left: 30px;
    display: block;
}
h1, h2, h3 {
        color: var(--color);
        text-shadow: 0 0 3px var(--lcolor);
}
.icon-container {
    width: 100%;
    padding-left: 13px;
    color: #fff;
    margin-top: 35px;
}
.icon-a {
    padding: 4px;
    color: var(--color);
    border-radius: 10px;
    border: 1.4px solid var(--pcolor);
    box-shadow: 0 0 3px var(--pcolor);
    margin: 5px 8px;
}
.icon-a:hover {
    box-shadow: 0 0 6px var(--pcolor);
    padding: 5px;
    color: var(--lcolor);
}
.name-span {
    color: var(--pcolor);
    font-size: 30px;
}
.profile-right {
    width: 35%;
    padding: 5px;
}
.my-photo {
    width: 88%;
    float: left;
}
.b-section {
    margin-bottom: 3px;
    padding: 20px;
}
.blink {
    animation: bli 0.5s step-end infinite alternate;
}
@keyframes bli {
    50% {
        opacity: 0;
    }
}
@media (max-width: 992px) {
    .profile-left {
        width: 49%;
    }
    .profile-right {
        width: 49%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .b-profile {
        padding: 10px;
        justify-content: space-between;
    }
    .profile-left {
        width: 49%;
    }
    .profile-right {
        width: 60%;
        padding: 0;
        position: absolute;
        right: 0px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 575px) {
    .b-profile {
        display: block;
        position: relative;
        padding: 20px 30px;
        height: 68vh;
    }
    .profile-left {
        width: 70%;
        height: 100%;
        padding: 15% 5%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .profile-right {
        position: absolute;
        width: 72%;
        top: 0px;
        right: 0px;
        display: flex;
        justify-content: end;
    }
    .icon-container {
        padding-left: 0px;
        display: flex;
        width: 50%;
        flex-wrap: wrap;
    }
}
