.b-profile {
    width: 100%;
    height: 88vh;
    padding: 0 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.profile-left {
    width: 35%;
    padding: 5px; margin-top: -40px;
    padding-left: 30px;
}
h1, h2, h3 {
        color: var(--color);
        text-shadow: 0 0 3px var(--lcolor);
}
.icon-container {
    width: 100%;
    padding-left: 13px;
    color: #fff;
    margin-top: 35px;
}
.icon-a {
    padding: 4px;
    color: var(--color);
    border-radius: 10px;
    border: 1.4px solid lawngreen;
    box-shadow: 0 0 3px lawngreen;
    margin: 5px 8px;
}
.icon-a:hover {
    box-shadow: 0 0 6px lawngreen;
    color: var(--lcolor);
}
.name-span {
    color: lawngreen;
    font-size: 30px;
}
.profile-right {
    width: 35%;
    padding: 5px;
}
.my-photo {
    width: 88%;
    float: left;
}
.b-section {
    margin-bottom: 3px;
    padding: 20px;
}
