.b-project {
    width: 100%;
    height: 88vh;
    color: var(--color);
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.sidebar-project {
    border: 1px solid var(--color);
    padding: 5px;
    box-shadow: 0 0 5px var(--color);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.view-project {
    margin-left: 2px;
    border: 4px double slateblue;
    box-shadow: 0 0 5px slateblue;
    border-left: none;
}
.project-item {
    margin: 10px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-item h3 {
    margin: 0;
    padding: 0;
}
.dropdown-icon {
    color: var(--color);
}
.dropdown-ul {
    background-color: #333;
    border-radius: 8px;
    margin: 0px 10px 0 30px;
    padding: 0;
}
.dropdown-ul li {
    border-bottom: 1.5px solid var(--bg);
    list-style-type: none;
    padding: 0.5em 2em;
}
.dropdown-ul li:hover {
    background-color: gray;
}