.b-project {
    width: 100%;
    height: 88vh;
    color: var(--color);
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.sidebar-project {
    border: 1px solid var(--color);
    padding: 5px;
    box-shadow: 0 0 5px var(--color);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.view-project {
    margin-left: 2px;
    border: 4px double slateblue;
    box-shadow: 0 0 5px slateblue;
    border-left: none;
}
h3 {
    margin: 0;
    padding: 0;
}
.project-ul li{
    padding: 6px 1px;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    border: 1.3px solid var(--color);
}
.project-ul li:hover {
    background-color: var(--lcolor);
    opacity: 0.9px;
}
.project-ul li:active {
    color: var(--hcolor);
}
ul {
    list-style-type: none;
    padding: 0px;
}
.view-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.view-item1, .view-item2 {
    width: 100%; height: 100%;
}
.view-item1 h2, .view-item2 h2 {
    height: 10%;
    padding: 5px;
    margin: 0;
}
.view-restaurant {
    width: 100%; height: 90%;
    overflow-y: scroll;
}
.active h3 {
    color: var(--hcolor);
}
.noActive h3 {
    color: inherit;
}
/* .dropdown-ul {
    background-color: #333;
    border-radius: 8px;
    margin: 0px 10px 0 30px;
    padding: 0;
}
.dropdown-ul li {
    border-bottom: 1.5px solid var(--bg);
    list-style-type: circle;
    padding: 0.5em 2em;
}
.dropdown-ul li:hover {
    background-color: gray;
} */