.b-skills {
    width: 100%;
    height: 88vh;
    padding: 0 60px;
}
.skills-head {
    text-align: center;
    height: 15%;
    padding: auto;
    margin: 10px 0 5px 0;
}
.skills-head h2 {
    margin: 0;
}
.skills-head p {
    color: var(--color);
    font-size: 20px;
    margin: 0px;
}

.skills-main {
    width: 100%;
    height: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-bar {
    width: 49%;
    height: 100%;
    padding: 5px 30px;
}
    .skills-bar ul li {
        list-style-type: none;
    }
    h4 {
        color: var(--color);
        margin: 15px 0px 5px 0px;
    }
    .bar {
        width: 80%;
        height: 10px;
        border: 1.6px solid rebeccapurple;
        border-radius: 8px;
    }
    .html-bar {
        width: 85%;
        height: 100%;
        background-color: rgb(250, 56, 7);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .css-bar {
        width: 90%;
        height: 100%;
        background-color: rgb(8, 4, 252);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .js-bar {
        width: 80%;
        height: 100%;
        background-color: rgb(230, 189, 11);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .react-bar {
        width: 93%;
        height: 100%;
        background-color: rgb(7, 173, 250);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .bs-bar {
        width: 85%;
        height: 100%;
        background-color: rgb(173, 7, 250);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .tw-bar {
        width: 30%;
        height: 100%;
        background-color: rgb(112, 7, 250);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
.skills-hr {
    width: 2px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--lcolor);
}
.skills-card {
    width: 49%;
    height: 100%;
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-areas: 'first second third'
                            'fourth five six';
}
    .card {
        border: 2px solid rebeccapurple;
        border-radius: 5px;
        box-shadow: 0 0 5px var(--lcolor);
        color: white;
        text-shadow: 0 0 4px rgb(7, 173, 250);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #212121;
    }
    .back-face header {
        height: 18%;
        width: 100%;
        padding: 5px;
        text-align: center;
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }
    .back-face main {
        height: 80%;
        width: 100%;
        padding: 5px;
        margin: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .html {
        grid-area: first;
    }
    .css {
        grid-area: second;
    }
    .javascript {
        grid-area: third;
    }
    .react {
        grid-area: fourth;
    }
    .bootstrap {
        grid-area: five;
    }
    .tailwind {
        grid-area: six;
    }

.flip-inner {
    position:relative; 
    width:100%; height: 100%; 
    transform-style:preserve-3d; 
    transition: transform 600ms cubic-bezier(.2,.9,.3,1);
}
.card:hover .flip-inner, .card:focus-within .flip-inner{ transform: rotateY(180deg) }
.flip-face{
    position:absolute; inset:0; backface-visibility:hidden; border-radius:10px; padding:5px; display:flex; flex-direction:column; gap:8px;
  }
  .font-face{ display: flex;
                 align-items: center;
                 justify-content: center;
                  background: inherit; 
                }
  .back-face{ 
                background: inherit;
                transform: rotateY(180deg);
                overflow:auto 
            }

  .face-html {
    background: url('../pictures/png-clipart-html-web-development-world-wide-web-consortium-javascript-webgl-5-angle-web-design-thumbnail.png') repeat;
    background-size: 13px;
  }
  .face-css {
    background: url("../pictures/download.jpg") repeat;
    background-size: 13px;
  }
  .face-javascript {
    background: url("../pictures/javascript-logo-web-application-scripting-language-web-development-web-banner-content-management-system-yellow-line-png-clipart.jpg") repeat;
    background-size: 13px;
  }
  .face-react {
    background: url("../pictures/react-logo-icon-11609374122d9vkbptqap.png") repeat;
    background-size: 13px;
  }
  .face-bootstrap {
    background: url('../pictures/download\ \(1\).jpg') repeat;
    background-size: 13px;
  }
  .face-tailwind {
    background: url('../pictures/download.png') repeat;
    background-size: 13px;
  }
  .font-face span {
    font-size: 23px;
    font-weight: bold;
    text-shadow: 0 0 30px #fff;
    color: #000;
  }
  .inner-ci {
    border-radius: 50%;
  }