.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0; left: 0;
  margin: 0; padding: 0;
  background-color: #333;
}
.app::-webkit-scrollbar {
  display: none;
}
.body {
    width: 100%;
    background-color: var(--bg);
    height: 89vh;
    overflow-y: auto;
}
.body::-webkit-scrollbar {
    display: none;
}